<main class="p-8">
    <div class="text-center mt-[1em] mb-3 font-bold capitalize text-3xl">Marvel character collection</div>
    <div class="text-center mb-[3em] capitalize text-xl"><a class="text-slate-500 hover:text-slate-900" href="http://marvel.com\"
            target="_blank">{{attributionText}}</a></div>
    <div class="mx-auto max-w-7xl grid sm:grid-cols-12 gap-5 gap-y-8 max-h-content">
        <card-characters class="lg:col-span-3 md:col-span-4 sm:col-span-6  h-full" [character]="character"
            *ngFor="let character of characters"></card-characters>
    </div>
</main>